.content-container {
	max-width: $max-container;
	margin: 0 auto;
}

.hero {
	position: relative;
	width: 100%;
}
.hero-cta {
	position: absolute;
	top:0; bottom: 0; right: 0; left: 0;
	margin: auto;
	width: 200px;
	height: 50px;
}

.box {
	background: grey;
	width: 24.5%;
	height: 200px;
	display: inline-block;
}